:root {
  --color-black: rgb(29, 18, 40);
  --color-black-emphasized: #06000d;
  --color-black-contrast: #e38d9e;

  --color-white: #fdf0ed;
  --color-white-emphasized: #fadbd4; // #f0c6bd

  --color-indigo: #402759;
  --color-indigo-emphasized: #391759;
  --color-indigo-contrast: #ffacbc;

  --color-sea-green: #3e5750;
  --color-sea-green-emphasized: #294239;
  --color-sea-green-contrast: #b8d8cb;

  --color-neon: #51ffdc;

  --color-shadow: rgba(29, 18, 40, .2);
  --color-overlay: rgba(29, 18, 40, .9);

  --color-alert-good: #4ccc98;
  --color-alert-bad: #d64864;
}
