
// Calculate ratio to precent.
@function set-ratio-percent-function($width, $height) {

  // @include ratio('square');
  // @include ratio(1,1);

  // @include ratio('classic');
  // @include ratio(4,3);

  // @include ratio('wide'); Default
  // @include ratio(16,9); Default

  // @include ratio('cinema');
  // @include ratio(2.35,1);
  // $width: 16;
  // $height: 9;

  @if $width == 'square' {

    $width: 1;
    $height: 1;

  }

  @if $width == 'classic' {

    $width: 4;
    $height: 3;

  }

  @if $width == 'wide' {

    $width: 16;
    $height: 9;

  }

  @if $width == 'cinema' {

    $width: 2.35;
    $height: 1;

  }

  @return calc($height / $width) * 100%;
}

// Set component to a ratio based on width.
@mixin ratio($width: 16, $height: 9) {

  position: relative;
  overflow: hidden;

  &::before {

    display: block;
    content: '';
    width: 100%;
    padding-top: set-ratio-percent-function($width, $height);

  }

}

// Set component to a ratio based on width.
// Min height is base on ratio, but expand if content needs more height.
@mixin ratio-min-height($width: 16, $height: 9) {

  position: relative;
  overflow: hidden;

  &::before {

    content: '';
    display: block;
    float: left;
    padding-bottom: set-ratio-percent-function($width, $height);

  }

  &::after {
    content: '';
    display: table;
    clear: left;
  }
}

.global__aspect-ratio-square {
  @include ratio('square');
}

.global__aspect-ratio-classic {
  @include ratio('classic');
}

.global__aspect-ratio-wide {
  @include ratio('wide');
}

.global__aspect-ratio-cinema {
  @include ratio('cinema');
}

@mixin break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@mixin aspect-ratio-img($width, $height) {
  position: relative;
  overflow: hidden;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc($height / $width) * 100%;
  }

  figure {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
      width: 100%;
  }
}
