
$path-fonts: '/src/assets/fonts/';
$path-images: '/src/assets/images/';

$global-padding-size: 1.11rem;
$global-padding-size-desktop: 3rem;
$transition-speed: .25s;

$global-z-index-modal: 4000;
$global-z-index-cookies: 5000;
